html,
body {
    height: 100%;
}

.bk-container {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.bk-container .bk-header {
    display: flex;
    flex-direction: column;
    height: 72px;
    background-color: #1976d2;
    color: white;
    padding: 0.75rem 0.75rem;
}

.bk-container .bk-header a {
    color: white;
    text-decoration: none;
}

.bk-container .bk-nav-main {
    width: 100%;
}

.bk-container .bk-body {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.bk-container .bk-toc {
    display: flex;
    flex-direction: column;
    flex: 0 0 240px;
    overflow: scroll;

    padding: 0.75rem 0.75rem;
    background-color: #fafafa;
}

.bk-container .bk-toc .non-leaf {
    color: #555;
    white-space: nowrap;
}

.bk-container .bk-toc a {
    text-decoration: none;
    color: #555;
    white-space: nowrap;
}

.bk-container .bk-toc a:hover {
    color: #000;
}

.bk-container .bk-toc li {
    padding: 0.1em 0em;
}

.bk-container .bk-toc .list-nested {
    padding-left: 1em;
}

.bk-container .bk-content {
    display: flex;
    flex-direction: column;
    flex: 0 0 100% - 240px;
    overflow: scroll;

    padding: 0.75rem 0.75rem;
}

.bk-container .bk-toc footer {
    padding-top: 5em;
}
